// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#first {
	height:30px;
	width:80px;
	text-align:center;
}
#second {
	height:30px;
	width:412px;
	text-align:center;
}
.hover {
  background-color:red;
}
#table {
  width:500px;
  height:150px;
  text-align:center;
}
td input {
	width:70px;
}
#flash {
	background:#eee;
}

